<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rahar.screenshotocr" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_my"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ScreenOCR"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="net.rahar.screenshotocr.BackgroundOCRService"
            android:exported="false"/>

        <receiver android:name="net.rahar.screenshotocr.CommReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="net.rahar.screenshotocr.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".TapjackingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="net.rahar.screenshotocr.TapjackingService" />
            </intent-filter>
        </service>

        <service
            android:name=".TopButtonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="net.rahar.screenshotocr.TopButtonService" />
            </intent-filter>
        </service>
    </application>



</manifest>
